@import './base.css';

#app {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

:root{
  --primaryColor: rgb(200, 200, 200, 1);
}

.panel {
  background-color: rgba(90, 90, 90, 0.6);
  border-color: var(--primaryColor);
  border-style:solid;
  border-radius: 10px;
  border-width: 2px;
  outline-style: solid;
  outline-width: 2px;
  outline-offset: -6px;
  outline-color: var(--primaryColor);
}

h1, h2, p, a {
  font-family: "Monaco", monospace;
  color: var(--primaryColor);
  padding: 10px;
}

h1, h2 {
  font-style: bold;
}



